{% extends 'mise_en_page/base.html' %}

{% block content %}
<div class="conteneur">
	<div class="image">

  
<img src="../static/images/2.jpg"/>
</div>

<div class="description"> </br></h2></br> Je suis MBOUNGOU MITOLO Immaculée </br></br></br>



     étudiante à l'Ecole Communautaire de l'Enseignement Supérieur (ECES).
	J'ai développé ce site sur Django dans le but de produire les cartes
	d'identités des etudiants.<br>D'autres catégories de personnes également peuvent se faire enregistrer selon des critères bien définis.





</div>
	



</div>

{% endblock %}

